DEFAULT_OPTIONS

LEVEL               THREAD
UNITS               NANOSEC
LOOK_BACK           100
SPEED               1
FLAG_ICONS          ENABLED
NUM_OF_STATE_COLORS 400
YMAX_SCALE          100


DEFAULT_SEMANTIC

THREAD_FUNC          Last Evt Val


STATES_COLOR
0    {0,0,0}
1    {0,0,255}
2    {255,255,255}
3    {0,255,0}
4    {255,0,0}
5    {0,255,255}
6    {255,0,255}
7    {255,255,0}
8    {170,170,170}
9    {255,170,0}
10    {0,170,85}
11    {170,0,85}
12    {0,170,170}
13    {170,85,0}
14    {255,0,85}
15    {85,0,170}


EVENT_TYPE
0    69000000    Tracing phase
VALUES
0      Finished
1      Running
2      Flushing


